<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>The Users Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>


<body>
    <nav class="container-fluid">
        <p th:text="#{home.welcome}">Welcome to the users' page!</p>
    </nav>


    <div >
        <form action="#" th:action="@{/}" th:object="${userForm}" method="post" class="col-md-6" >
            <div class="form-control">
                <div class="form-group">
                    <label for="firtNameInput">First Name</label>
                    <input  type="text" class="form-control" id="firtNameInput" th:field="*{firstName}" aria-describedby="emailHelp" placeholder="Enter First Name" />
                    <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</small>

                </div>
                <div class="form-group">
                    <label for="lastNameInput">Last Name</label>
                    <input type="text" class="form-control" id="lastNameInput" th:field="*{lastName}" placeholder="Enter Last Name">
                    <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</small>
                </div>

                <div class="form-group">
                    <label for="ageInput">Age</label>
                    <input type="text" class="form-control" id="ageInput" th:field="*{age}" placeholder="Enter Age"/>
                    <small th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="has-error">Age Error</small>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>

    </div>

</body>

</html>